<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vote Casted</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen">
  <div class="bg-white rounded-lg flex flex-col shadow-md p-8 gap-5 text-center">
    <h1 class="text-xl font-bold">Thank You for Voting!</h1>
    <p class="text-gray-600">Your vote for <%= vote %>  has been successfully cast.</p>
    <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none">Return Home</a>
  </div>
</body>
</html>
